streamlit==1.39.0 #>=1.32.0
pandas
PyPDF2
openpyxl
faiss-cpu
transformers
sentence-transformers
langchain
langchain-community
python-docx
langchain-huggingface
hf_xet
llama-index-core==0.10.30
llama-index-readers-file
llama-index-llms-huggingface
llama-index-embeddings-huggingface
accelerate
torch
docx2txt
cv2
#easyocr
#opencv-python
opencv-python==4.6.0.66
rich<14


easyocr==1.7.1
pillow>=10.0.0
opencv-python-headless>=4.10.0

numpy>=1.26.0
